@import "./common/reset";
@import "./vars/vars";
@import "./common/media_brakepoints";

body {
  max-width: 1440px;
  margin: auto;
}

header {
  max-width: 1440px;
}

.thanks {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
}

.none {
  display: none;
}

@import "./common/container";
@import "./blocks/header";
@import "./blocks/main";
@import "./common/btn";
@import "./blocks/features";
@import "./blocks/portfolio";
@import "./blocks/slider";
@import "./blocks/contacts";
@import "./blocks/modal";
@import "./blocks/sidebar";
