$color: #00ffff;

$breakpoint_1440: 1440px;
$breakpoint_1300: 1300px;
$breakpoint_1200: 1200px;
$breakpoint_980: 980px;
$breakpoint_880: 880px;
$breakpoint_720: 720px;
$breakpoint_652: 652px;
$breakpoint_575: 575px;
$breakpoint_480: 480px;
