.features {
  display: flex;
  flex-direction: column;
}

.features__title {
  font-size: 3.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20rem;
  line-height: 120%;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.6rem;
}

.features__list-item {
  max-width: 29%;
  margin-top: 5rem;
}

.features__list-item-title {
  font-size: 3.2rem;
  font-weight: 500;
  &:after {
    content: "";
    display: block;
    border-bottom: 3px solid $color;
    width: 23rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.features__list-item-text {
  line-height: 150%;
}

//media----------

@include _1440 {
  .features__list-item-title {
    font-size: 2.9rem;
  }
}

//xl------------
@include _1300 {
  .features__title {
    margin-top: 15rem;
  }

  .features__list-item {
    max-width: 45%;
  }
}

@include _980 {
  .features__title {
    font-size: 2.7rem;
    margin-top: 7rem;
  }

  .features__list-item-title {
    font-size: 2.7rem;
  }
}

@include _880 {
  .features__title {
    font-size: 2.2rem;
  }

  .features__list-item-title {
    font-size: 2.2rem;
  }
}

@include _720 {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.4rem;
  }

  .features__title {
    font-size: 1.8rem;
  }

  .features__list-item-title {
    font-size: 1.8rem;
  }
}

@include _575 {
  .features__list {
    flex-direction: column;
    align-items: center;
  }
  .features__list-item {
    max-width: 80%;
  }

  .features__title {
    font-size: 2.6rem;
    margin-top: 20rem;
  }

  .features__list-item-title {
    font-size: 2.6rem;
  }
}

@include _480 {
  .features__title {
    font-size: 2rem;
    margin-top: 15rem;
  }

  .features__list-item-title {
    font-size: 2rem;
  }
}

@media (max-width: 380px) {
  .features__title {
    margin-top: 8rem;
  }
}
