.header {
position: absolute;
width: 100%;
}

.header__nav-list{
  display: flex;
  justify-content: end;
  list-style-type: none;
  margin-top: 5rem;
  margin-right: 5rem;
}

.header__nav-list-item{
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin-left: 6rem;

  a{
    display: block;
    padding: 1rem;
    padding-bottom: 0;
    
  }

  a:hover, a:active, a:focus{
    &::after{
      border-bottom: 1rem solid $color;
    }
  }

  a:after{
    content: "";
    display: block;
    width: 100%;
    border-bottom: 0.3rem solid $color;
    margin-top: 0.5rem;
    transition: border-bottom .2s linear;
  }

  
}


@include _1200{
  .header__nav-list{
    margin-top: 3rem;
  }
}

@include _980{
  .header__nav-list{
    display: none;
  }
}

