.portfolio {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.portfolio__title {
  font-size: 3.2rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 120%;
}

.slider {
  position: relative;
  display: flex;
  margin-top: 5rem;
  max-width: 100%;
}

.slider__item {
  display: flex;
  padding: 0 0.5rem;
}

.slider__image {
  max-width: 50%;
  object-fit: cover;
}

.slider__text {
  margin-left: 4rem;
  font-size: 1.6rem;
  line-height: 150%;
  max-width: 50%;
  & a {
    cursor: pointer;
  }
}

.slider__title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 120%;

  &::after {
    content: "";
    display: block;
    width: 70%;
    border-bottom: 0.3rem solid $color;
  }
}

.slider__cost {
  margin-left: 5rem;
}

.slider__description,
.slider__date-count,
.slider__cost-count {
  margin-top: 1rem;
}

.slider__info {
  display: flex;
}

.slider__date-title,
.slider__cost-title {
  font-size: 3.2rem;
  font-weight: 500;
  margin-top: 2.5rem;
  &::after {
    margin-top: 0.5rem;
    content: "";
    display: block;
    max-width: 100%;
    border-bottom: 0.3rem solid $color;
  }
}

@include _1440 {
  .portfolio__title,
  .slider__title,
  .slider__date-title,
  .slider__cost-title {
    font-size: 2.9rem;
  }
}

@include _1200 {
  .slider__info {
    flex-direction: column;
  }

  .slider__cost {
    margin-left: 0;
  }

  .slider__date-title::after {
    max-width: 50%;
  }

  .slider__cost-title::after {
    max-width: 30%;
  }
}
@include _980 {
  .portfolio__title,
  .slider__title,
  .slider__cost-title,
  .slider__cost-title {
    font-size: 2.7rem;
  }

  .slider__cost-title {
    font-size: 2.7rem;
    &::after {
      width: 14rem;
    }
  }
}

@include _880 {
  .slider__text {
    font-size: 1.4rem;
  }

  .portfolio__title,
  .slider__title,
  .slider__date-title,
  .slider__cost-title {
    font-size: 2.2rem;
  }
}

@include _720 {
  .portfolio__title,
  .slider__title,
  .slider__date-title,
  .slider__cost-title {
    font-size: 1.8rem;
  }

  .slider__cost-title {
    position: relative;
    width: auto;
  }

  .slider__cost-title {
    &::after {
      position: absolute;
      width: 100%;
    }
  }

  .slider__date-title {
    &::after {
      width: 16rem;
    }
  }
}

@include _652 {
  .slider {
    flex-direction: column;
    margin-top: 2rem;
  }

  .slider__image {
    max-width: 100%;
  }

  .slider__item {
    display: flex;
    flex-direction: column;
  }

  .slider__text {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: 0;
    margin-top: 1rem;
    align-items: center;
  }

  .slider__info {
    flex-direction: row;
  }

  .slider__cost {
    margin-left: 5rem;
  }

  .portfolio__title,
  .slider__title,
  .slider__date-title,
  .slider__cost-title {
    font-size: 2.6rem;
    position: relative;
    max-width: 100%;
  }

  .slider__text {
    width: 100%;
    max-width: 100%;
  }

  .slider__title::after {
    position: absolute;
    width: 100%;
    left: 0;
  }

  .slider__date-title::after,
  .slider__cost-title::after {
    width: 100%;
    position: absolute;
    max-width: 100%;
  }

  .slider__description,
  .slider__cost-count,
  .slider__date-count {
    text-align: center;
  }
}

@include _480 {
  .portfolio__title,
  .slider__title,
  .slider__date-title,
  .slider__cost-title {
    font-size: 2rem;
  }

  .slider__info {
    flex-direction: column;
    align-items: center;
  }

  .slider__cost {
    margin-left: 0;
    text-align: center;
  }

  .slider__date {
    text-align: center;
  }

  .slider__description {
    text-align: center;
  }
}
