.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 3rem;
  height: 3rem;
  border: none;
  font-size: 0;
  margin-top: -1.5rem;
}

.slick-prev {
  left: -3rem;
  background: url("../images/icons/arrow-left.svg") 0 0 /100% no-repeat;
}

.slick-next {
  right: -3rem;
  background: url("../images/icons/arrow-right.svg") 0 0 / 100% no-repeat;
}

.slick-dots {
  position: absolute;
  bottom: -2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%);

  & button {
    font-size: 0;
    width: 1rem;
    height: 1rem;
    background-color: #00ffff;
    border: 2px solid #00ffff;
    padding: 0;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  & .slick-active button {
    background-color: transparent;
  }
}

@include _980 {
  .slick-arrow {
    display: none;
  }
}

@include _652 {
}
